@import "./vars.css";

body {
  zoom: 80%; /* You can adjust the percentage as per your requirement */
}

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
